# Rust build outputs
/target

# Legacy cargo-packager output directory
/dist

# Local cargo-dist manifest output
/dist-manifest.json

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Local overrides
*.local

# Editor directories and files
.vscode
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
