# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
*.test
*.out
go.work

# Node
node_modules/
dist/
dist-ssr/
*.local

# Logs
logs/
*.log

# Environment
.env
.env.local

# OS
.DS_Store
Thumbs.db

# Database
*.db
*.db-shm
*.db-wal
*.db-journal

vendor

config.yaml
